
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 col-12">
    <div class="card shadow-lg pt-3 pb-3">
      <div class="card-body">
        <h2 class="text-center mb-2">新規登録</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <%= f.label :email, "メールアドレス" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :name, "ニックネーム" %>
            <%= f.text_field :name, autofocus: true, class:"form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> 文字以上)</em>
            <% end %><br />
            <%= f.password_field :password, autofocus: true, class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, "パスワード(確認)" %>
            <%= f.password_field :password_confirmation, autofocus: true, class:"form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :birthday, "生年月日" %>
            <%= f.date_field :birthday, autofocus: true, class:"form-control" %>
          </div>

          <div class="form sex-field mb-2">
            <%= f.label :gender,"性別" %><br />
            <%= f.label :man, "男性" %>
            <%= f.radio_button :gender, :man %>
            <%= f.label :woman, "女性" %>
            <%= f.radio_button :gender, :woman %>
          </div>
           <div class="form-group form-check mb-3">
            <%= f.check_box :agreement, :as => :boolean, checked:false, class:"form-check-input" %>
            <a class="form-check-label" data-toggle="modal" data-target="#exampleModal">
              利用規約に同意する
            </a>
          </div>
          <div class="actions text-center mb-4">
            <%= f.submit "登録する", class:"btn shadow" %>
          </div>
        <% end %>
        <div class="text-center">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>

<%# 利用規約 %>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">利用規約</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>第1条　はじめに</h5>
        <p>マッチングアプリYarn（以下、「当サイト」といます）は、株式会社きぼうのみらい（以下、「当社」といいます）が運営しています。当サイトを通じて提供されるすべてのサービス（以下、「本サービス」）について、当サイトご利用者様（以下、「ご利用者様」といいます）は、本利用規約に同意したものとみなされます。</p>
        <h5>第2条　適用範囲</h5>
        <p>本利用規約は、本サービスを利用する全ての方（以下、「利用者」といいます。）に適用されます。</p>
        <h5>第3条　著作権その他の権利について</h5>
        <p>本サービスに掲載されている全ての内容に関する権利は当社が所有しているか、またはライセンスその他の正当な権限にもとづき使用するものです。したがって、著作権法により許されている場合を除き、本サービスの掲載内容全部につき、複製、改変、転載及び頒布すること等は禁止されています。</p>
        <h5>第4条　商標について</h5>
        <p>本サービスに掲載されている全ての商標およびサービスマークは、当社もしくは当社の関連会社が所有し、またはライセンスその他の正当な権限にもとづいて使用するものです。したがって、当社の文書による事前の許諾がない限り、これらを無断で使用することは禁止されています。</p>
        <h5>第5条　掲載情報について</h5>
        <p>本サービスに掲載されている情報は、掲載時点における情報であり、掲載した時点以降に予告なく変更される場合があります。当社はそれら情報の正確性や適時性について何ら保証するものではなく、かつそれらから発生した紛争や損害についても一切責任を負いません。</p>
        <h5>第6条　本サービスへのリンクについて</h5>
        <p>本サービスへのリンクの設定は原則自由であり連絡も不要です。ただし、公序良俗に反するリンクサイトや、本サイトを侵害するおそれのあるリンクサイトからのリンクはお断りします。当社は、本サービスから、もしくは本サービスへリンクしている第三者のサービスやページの内容について何ら保証するものではなく、一切責任を負いません。</p>
        <h5>第7条　禁止事項</h5>
        <p>当サイトをご利用されるにあたり、ご利用者様の次の行為を禁止します。</p>
        <ol class="pl-4">
          <li>法令違反行為又は犯罪に関連する行為</li>
          <li>公序良俗に反するおそれのある行為</li>
          <li>当社、本サービスの他の利用者又はその他の第三者の知的財産権、肖像権、プライバシーの権利、名誉、その他の権利利益を侵害する行為又は侵害するおそれのある行為</li>
          <li>本サービスにより提供される情報（当社から利用者に対する電子メールを含みます。）につき、当社の許諾を得ずに、法律上認められた私的使用等の範囲を超えた利用（複製、改ざん、頒布、送信、譲渡、翻案等を含みます。）をする行為</li>
          <li>本サービスのネットワークシステムに過度の負荷をかける行為</li>
          <li>本サービスの運営を妨害するおそれのある行為</li>
          <li>当社のネットワークシステムに不正にアクセスし、又は不正なアクセスを試みる行為</li>
          <li>当社若しくは第三者へのなりすまし又は意図的な虚偽情報の流布</li>
          <li>本サービスが予定している利用目的と異なる目的で、本サービスを利用する行為</li>
          <li>当社が事前に許諾しない本サービス上での宣伝、広告、勧誘、または営業行為</li>
          <li>本サービスの他の利用者の情報の収集</li>
          <li>当社、本サービスの他の利用者またはその他の第三者に不利益、損害、不快感を与える行為</li>
          <li>当社ウェブサイト上で掲載する本サービス利用に関するガイドライン等に抵触する行為</li>
          <li>反社会的勢力等への利益供与その他の協力行為</li>
          <li>前各号が定める行為を直接又は間接に惹起し、又は容易にする行為</li>
          <li>その他当社が不適切と判断する行為</li>
        </ol>
        <h5>第8条（賠償）</h5>
        <p>利用者は、利用者が法令又は本規約に違反したことに起因して、当社が直接又は間接に何らかの損害又は損失(弁護士費用を含みます。)を被った場合(かかる趣旨のクレームを当社が第三者から受けた場合を含みます。)、最低金額を100万円として、直ちに当該損害及び損失の全てを賠償する責任を負います。</p>
        <h5>第9条　掲載情報の変更、終了</h5>
        <p>当社は、本サービスに掲載されている情報を事前の予告なく変更または終了させることができ、それにより発生した紛争や損害について一切責任を負わないものとします。</p>
        <h5>第10条　準拠法及び裁判管轄</h5>
        <p>本サービスまたは本利用規約に関連して発生した全ての紛争の準拠法は日本法とし、その紛争解決手続きは東京地方裁判所を第一審の専属管轄裁判所とします。お客様はこの準拠法及び裁判管轄に同意したものとさせて頂きます。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
