<div class="row mb-5">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 col-12">
    <div class="card shadow-lg pb-1 mb-5">
      <div class="card-header">
        ユーザー
      </div>
      <div class="card-body">
        <div class="row">
          <% if @user.image.attached? %>
            <%= image_tag @user.image, class:"w-100 mb-2" %>
          <% end %>
        </div>
        <div class="mb-4">
          名前：<%= @user.name %><br>
          生年月日：<%= @user.birthday %><br>
          性別：<%= @user.gender %>
        </div>
        <div>
          <span class="mr-2"><small>フォロー</small><%= current_user.followings.count %></span>
          <span><small>フォロワー</small><%= current_user.followers.count %></span>
        </div>
        <% unless license_checked? %>
        <h5>年齢確認が必要です。</h5><br><p>関連法規に基づき、年齢確認をしています。</p>
        <%= link_to "身分証提示", new_license_approval_path %>
      <% end %>
      <div class="p-1">
        <% if current_user == @user %>
          <div class="text-center">
          <%= link_to "編集する", edit_user_path(@user), class:"btn btn-dark shadow" %>
          </div>
        <% else %>
          <div id="user_<%= @user.id %>" class="follow-wrapper text-center">
            <%= render 'follow_form', user: @user if signed_in? %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
    <% if @user == current_user%>
      <% if @events.present? %>
      <div class="card shadow-lg pb-3 mb-5">
        <div class="card-header">
          イベント
        </div>
        <% @events.each do |event| %>
        <div class="card-body d-flex justify-content-between">
          <%= event.title %>
          <div>
            <%= link_to "詳細", event_path(event), class:"btn-sm btn-dark shadow" %>
            <% if event.participant_id == nil %>
              <%= link_to "編集", edit_event_path(event), class:"btn-sm btn-dark shadow" %>
            <% else %>
              <%= link_to "　DM　", direct_message_path(event.participant), class:"btn-sm btn-dark shadow" %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
      <% if @requests.present? %>
      <div class="card shadow-lg pb-3 mb-5">
        <div class="card-header">
          リクエスト
        </div>
        <% @requests.each do |request| %>
        <div class="card-body d-flex justify-content-between">
          <%= request.event.title %>
          <div>
            <% if request.event.participant_id== nil %>
              承認待ち
            <% else %>
              <%= link_to "　DM　", direct_message_path(request.event.user), class:"btn-sm btn-dark shadow" %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    <% end %>
  </div>
  <div class="col-lg-3"></div>
</div>

