<div class="row mb-5">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 col-12">
    <div class="card shadow-lg pb-1 mb-5">
      <div class="card-header">
        ユーザー
      </div>
      <div class="card-body">
        <div class="row">
          <% if @user.image.attached? %>
            <%= image_tag @user.image, class:"w-100 mb-2" %>
          <% end %>
        </div>
        <div class="mb-4">
          名前：<%= @user.name %><br>
          年齢：<%= calc_age(@user.birthday) %>歳<br>
          性別：<%= @user.gender_i18n %>
        </div>
        <% if signed_in? && current_user == @user %>
          <% unless license_checked? %>
          <h5>年齢確認が必要です。</h5><br><p>関連法規に基づき、年齢確認をしています。</p>
          <%= link_to "身分証提示", new_license_approval_path %>
        <% end %>
      <% end %>
      <div class="p-1">
        <% if current_user == @user %>
          <div class="text-center">
          <%= link_to "編集する", edit_user_path(@user), class:"btn btn-dark shadow" %>
          </div>
        <% else %>
          <div id="user_<%= @user.id %>" class="follow-wrapper text-center">
            <%#= render 'follow_form', user: @user if signed_in? %>
          </div>
        <% end %>
      </div>
      </div>
    </div>
    <div class="text-center">
      <%= link_to 'ログアウト', destroy_user_session_path, class: 'btn btn-dark', method: :delete %>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>

