<div class="row mb-5">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 col-12">
    <div class="card shadow-lg pb-3">
      <div class="card-header">
        ユーザー
      </div>
      <div class="card-body">
        名前：<%= @user.name %><br>
        メールアドレス：<%= @user.email %><br>
        生年月日：<%= @user.birthday %><br>
        性別：<%= @user.gender %>
      </div>
    </div>
    <div class="p-3 mb-5">
      <% if current_user == @user %>
        <div class="text-center">
        <%= link_to "編集する", edit_user_path(@user), class:"btn btn-dark shadow" %>
        </div>
      <% else %>
        <div id="user_<%= @user.id %>" class="follow-wrapper text-center">
          <%= render 'follow_form', user: @user if signed_in? %>
        </div>
      <% end %>
    </div>
    <div class="card shadow-lg pb-3">
      <div class="card-header">
        イベント
      </div>
      <% @events.each do |event| %>
      <div class="card-body d-flex justify-content-between">
        <%= event.title %>
        <%= link_to "編集する", edit_event_path(event), class:"btn-sm btn-dark shadow" %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>

