<div class="row mb-5">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 col-12">

    <% if @requests.present? %>
      <div class="card shadow-lg pb-3 mb-5">
        <div class="card-header">
          リクエスト
        </div>
        <% @requests.each do |request| %>
        <div class="card-body d-flex justify-content-between">
          <%= link_to request.event.user.name, user_path(request.event.user)  %>
          <div>
            <% if request.event.participant_id== nil %>
              承認待ち
            <% else %>
              <%= link_to "　DM　", direct_message_path(request.event.user), class:"btn-sm btn-dark shadow" %>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    <% else %>
    リクエストした募集はありません。
    <% end %>
    <% if @events.present? %>
      <div class="card shadow-lg pb-3 mb-5">
        <div class="card-header">
          募集中のイベント
        </div>
        <%# 一度に一回しか投稿できないようにする %>
        <% @events.each do |event| %>
          <% event.requests.each do |request| %>
            <div class="card-body d-flex justify-content-between">
              <%= link_to request.user.name, user_path(request.user) %>
              <div>
                <% if event.participant_id== nil %>
                  <%= form_for(event, url:{controller:'events', action: 'update',id:event.id}) do |f| %>
                    <%= f.hidden_field :participant_id, :value => request.user.id %>
                    <%= f.hidden_field :is_finish, :value => true %>
                    <%= f.submit "　承認　", class:"btn-sm btn-danger btn shadow", data: { confirm: '承認しますか?'} %>
                  <% end %>
                  <%#= link_to "　承認　", "", class:"btn-sm btn-danger shadow" %>
                <% else %>
                  <%= link_to "　DM　", direct_message_path(event.user), class:"btn-sm btn-dark shadow" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% else %>
    イベントはありません。
    <% end %>
  </div>
  <div class="col-lg-3"></div>
</div>

