<div class="row mb-5">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 col-12">
    <div class="card shadow-lg pt-3 pb-3 mb-4">
      <div class="card-body">
        <%= form_with(model:@event, url:events_path, method: :post, local:true) do |f| %>
          <%#= render 'shared/error_messages', model: f.object %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <div class="form-group">
            <%= f.file_field :image %>
          </div>
          <div class="form-group">
            <%= f.label :address, "エリア" %>
            <div class="mb-2">
              <%= f.select :address, {'恵比寿': "ebisu", '渋谷': "shibuya", '六本木': "roppongi"}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
            </div>
          </div>
          <div class="actions text-center">
            <%= f.submit "募集する",class:"btn shadow" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
