<div class="row mb-5">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 col-12">
    <div class="card shadow-lg pt-3 pb-3 mb-4">
      <div class="card-body">
        <h5 class="card-title mb-1">
          <%= @event.title %>
        </h5>
        <p class="card-text mb-5"><%= @event.message %></p>
        <%= image_tag @event.user.image, class:"w-100" %>
        <h6>メンバー</h6>
        <p class="mb-3">
          <%= link_to user_path(@event.user.id) do %>
            <%= @event.user.name %>
          <% end %>
        </p>
        <h6>場所</h6>
        <p><%= @event.address %></p>
        <h6>参加者</h6>
        <div class="row">
          <% @event_users.each do |event_user| %>
            <div class="col-lg-4 col-6">
              <% if event_user.user.image.attached? %>
                <%= image_tag event_user.user.image, class:"w-100" %>
              <% end %>
              <%= link_to user_path(event_user.user.id) do %>
                <%= event_user.user.name %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="request">
      <div class="reqestContent">
        <div class="card">
          <div class="card-body">
            <% if @event.participant_id ==nil %>
              <% if @event.user == current_user %>
                <h5 class="card-title mb-3">リクエスト一覧</h5>
                <% if @requests.present? %>
                <% @requests.each do |request| %>
                  <div class="px-3">
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <%= image_tag @event.user.image, class:"",style:"object-fit:cover" ,width:"45px",height:"45px" %>
                        <%= request.user.name %>
                      </div>
                      <div class="btn">
                        <%= link_to "　詳細　",  user_path(request.user), class:"mb-1 shadow btn btn-sm btn-dark" %>
                        <%# Todo承認機能 %>
                        <%= form_for(@event, url:{controller:'events', action: 'update',id:@event.id}) do |f| %>
                        <%= f.hidden_field :participant_id, :value => current_user.id %>
                        <%= f.submit "　承認　", class:"btn-sm btn-danger btn shadow", data: { confirm: '承認しますか?'} %>
                        <% end %>
                        <%#= link_to "承認", "", class:"btn-sm btn-danger", data: { confirm: '承認しますか?'} %>
                      </div>
                    </div>
                    <%= request.message %>
                  </div>
                <hr class="m-1">
                <% end %>
                <% else %>
                まだありません
                <% end %>
              <% else %>
                <h5 class="card-title">メッセージ</h5>
                <% if @requests.where(user: current_user).present? %>
                送信済み
                <% else %>
                  <% if user_signed_in? %>
                    <div class="requestBtn text-center">
                      <%= form_with(model:@request, url:requests_path, method: :post, local:true) do |f| %>
                        <%= f.hidden_field :user_id, :value => current_user.id %>
                        <%= f.hidden_field :event_id, :value => @event.id %>
                        <div class="form-group">
                          <%= f.text_area :message, class:"form-control" %>
                        </div>
                        <%= f.submit "リクエストを送る", class:"btn btn-dark shadow"%>
                      <% end %>
                    </div>
                  <% else %>
                    <p>リクエストを送る場合はログインしてください</p>
                    <%= link_to "ログイン", new_user_session_path, class:"btn btn-dark shadow" %>
                  <% end %>
                <% end %>
              <% end %>
            <% else %>
              募集を締め切りました。
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>
